<ion-header>
  <ion-toolbar>
    <ion-title>Aide</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row" style="margin: 10px 10px;">

    <div id="card" class="shadow-lg  bg-white rounded" >
      <!-- <div class="img-wrapper">
        <img src="../../assets/images/logo.png" alt="" id="svg" class="site__logo" width="80" height="100%">
            </div> -->
            <div class="row ">
              
                <div class="col-4 img-wrapper" id="#img1">
                  <img src="../../assets/images/logo.png" alt="" id="svg" class="site__logo" width="80" height="100%">
                </div>

                <div class="col-8">
                  <p class="fa fa-twitter">descriptionnnnn </p>
                </div>
            
          </div>

            
    </div>

  </div>  

</ion-content>
