<ion-header >
    <ion-toolbar class="new-background-color">
      <ion-title style="text-align: center;" class="title mesclass">Republique du Mali <br>
        <span class="mesclass" style="color: #5ba820;">Un peuple</span>-
        <span class="mesclass" style="color: hwb(60 8% 0%);">Un but</span>-
        <span class="mesclass" style="color: #dc0000;">Une foi</span>
       </ion-title>
      
       <ion-buttons slot="start">
        <ion-menu-button> </ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button ion-button navPop>
          <ion-back-button text="" icon="arrow-back"></ion-back-button>
          <!-- <ion-icon name="arrow-back"></ion-icon> -->
        </ion-button>
      </ion-buttons>
      <ion-img src="../../assets/images/logo.jpg" slot="end" style="margin-right: 10px;width: 60px; height: 60px;margin-top: 5px;">
      </ion-img> 
      <!-- <ion-icon name="notifications" slot="end" style="margin-right: 10px;width: 40px; height: 40px; color: #1d1c1c;"></ion-icon> -->
      <!-- <ion-icon name="person" ios="ios-person" slot="end" style="margin-right: 10px;width: 40px; height: 40px;color: #131212;"></ion-icon> -->
  
    </ion-toolbar>
  </ion-header>

<ion-content>
 <div class="container">
    <div class="row" style="margin: 10px 10px;">

        <div id="card" class="shadow-lg  bg-white rounded" >
          <!-- <div class="img-wrapper">
            <img src="../../assets/images/logo.png" alt="" id="svg" class="site__logo" width="80" height="100%">
                </div> -->
                <div class="row" style="padding: 2px;">
                  
                    <div class="col-12 col-md-6 ">
                      <img src="../../assets/images/logo.jpg"  class="img-wrapper">
                    </div>
    
                    <div class="col-12 col-md-6 " >
                      <p ><span style="color: #ABDE11;"><b>E-Sebenw</b></span> est une application
                        qui assure different traitements dans les structures administratives du Mali;
                        A travers des demandes déclaratives
                        tout en localisant la structure concernée
                        
                         </p>
                         <h2> Avantages</h2>
                         <p>Grace aux services de <span style="color: #ABDE11;"><b>E-Sebenw</b></span> <br>
                            Vous avez facilement accès à vos documents Admnistratifs en un clic <br>
                            En Outre le payement des taarifs et la véracité des pièces jointes ne seront pas prise en compte par 
                            l'application.
                    </div>
    
                
              </div>
    
                
        </div>
       

    
    </div> 

      <div class="row">
        <div class="col-12 col-md-6">
            <div id="card2" class="shadow-lg  bg-white rounded" >
              <h2>Nos Services</h2>
               
            
              <ion-item style="background-color: aliceblue" >
                <ion-thumbnail slot="start">
                    <ion-icon name="location-sharp" style="height: 60px; width: 50px; margin: 3px auto;color: #dc0000;"></ion-icon>
                                </ion-thumbnail>

                <ion-label routerLink="/dash/allstructure" id="lab" >
                    Localisation 
                    des lieux administratives
                                </ion-label>
              </ion-item>
               <ion-item style="background-color: aliceblue" >
                <ion-thumbnail slot="start">
                    <ion-icon name="folder-sharp" style="height: 60px; width: 50px; margin: 3px auto;color: #dc0000;" ></ion-icon>
                                </ion-thumbnail>

                <ion-label routerLink="/dash/strucutures" id="lab">
                    Demandes Administratives
                </ion-label>
              </ion-item>      
         </div>
        </div>

        <div class="col-12 col-md-6">
            <div id="card2" style="margin-bottom: 30px;"class="shadow-lg  bg-white rounded" >
                <h2> Contact</h2>

                <p >  Email:  esebenw2022@gmail.com                 </p>
                <p >  Télephone:  0022390916715              </p>
                <p >  Siteweb:  esebenw@ml.com                </p>

                   
                    

                     
        </div>
              
          
                      
        </div>
      </div>
 </div>
  

</ion-content>
