<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;" class="title mesclass">Republique du Mali <br>
      <span class="mesclass" style="color: #5ba820;">Un peuple</span>-
      <span class="mesclass" style="color: hwb(60 8% 0%);">Un but</span>-
      <span class="mesclass" style="color: #dc0000;">Une foi</span>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button ion-button navPop>
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
       <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
    </ion-buttons> -->

   
  
    <ion-img src="../../assets/images/logo.jpg" slot="end"
      style="margin-right: 10px;width: 60px; height: 60px;margin-top: 5px;">
    </ion-img>


  </ion-toolbar>
</ion-header>


<ion-content>
 
<div class="row">
  


  <div class="col-8 col-md-8 divwrap" >
  <div class="wrapper">
    
    <div class="profile">
      <img src="../../assets/images/user.png" class="thumbnail">
      <!-- <div class="check"><i class="fas fa-check"></i></div> -->
      <h3 class="name">{{prenom}}  {{nom}}</h3>
      <p class="title">Vous êtes connecter en tant qu'{{roles}}</p>
      <p class="title">Votre nom d'utilisateurest: {{username}}</p>

      <p class="description">Nous vous remercions d'avoir utiliser nos services</p>
      <button type="button" class="btn">Contacter nous </button>
    </div>
    
    <div class="social-icons">
      <div class="icon">
        <a href="/"><i class="fa fa-envelope"></i></a>
        <h4>Email</h4>
        <!-- <p>Followers</p> -->
      </div>
      
      <div class="icon">
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <h4>LinkdIn</h4>
        <!-- <p>Followers</p> -->
      </div>
      
      <div class="icon">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <h4>Twitter</h4>
        <!-- <p>Followers</p> -->
      </div>
    </div>
  </div>
  </div>

 

</div>
  

  
</ion-content>
