capacitor-google-map {
    display: inline-block;
    width: 275px;
    height: 400px;
  }

  #map {
    height: 50vh;
  }

  @media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
    ion-title{
      font-size: 20px;
    }
  }
  
  @media (max-width: 385px) {
    .mesclass{
      font-size: .8em;
      
    }
  }
  @media (max-width: 185px) {
    .mesclass{
      font-size: .6em;
      
    }
  }
