<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="text-align: center;" class="title mesclass">Republique du Mali <br>
      <span class="mesclass" style="color: #5ba820;">Un peuple</span>-
      <span class="mesclass" style="color: hwb(60 8% 0%);">Un but</span>-
      <span class="mesclass" style="color: #dc0000;">Une foi</span>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button ion-button navPop>
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-img src="../../assets/images/logo.jpg" slot="end"
      style="margin-right: 10px;width: 60px; height: 60px;margin-top: 5px;">
    </ion-img>
    <!-- <ion-icon name="notifications" slot="end" style="margin-right: 10px;width: 40px; height: 40px; color: #1d1c1c;"></ion-icon> -->
    <!-- <ion-icon name="person" ios="ios-person" slot="end" style="margin-right: 10px;width: 40px; height: 40px;color: #131212;"></ion-icon> -->

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row">
    <div class="col-12">
      <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-end">
        <button class="btn buttonColor" type="button" routerLink="/dashboard/nouveau-personnel">+ &nbsp; ajouter
          personnel</button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt-3 mb-3">
      <!-- <div class="col"></div> -->
      <div class="col-12  col-lg-4 larger" style="background-color: red;">
        <p class="text mt-3">Nombre de Structure</p>
        <div class="number">{{longueur}}</div>
      </div>
      <!-- <div class="col"></div> -->
      <div class="col-12 col-lg-4 larger " style="background-color: yellow;">
        <p class="text mt-3">Nombre d'agents </p>
        <p class="number">{{longueuragent}}</p>
      </div>
      <!-- <div class="col"></div> -->
      <div class="col-12 col-lg-4  larger" style="background-color: green;">
        <p class="text mt-3">Nombre d’Utilisateurs</p>
        <div class="number"> {{longueuruser}} </div>
      </div>
    </div>
    <div class="row styledetailleEntite mb-3">
      <div class="col-12 col-sm-12 col-lg-4 mx-auto my-auto">
        <img src="../../assets/images/ad.jpeg" class="styleAppliquerImageEntite" alt="">
      </div>
      <div class="col styleText">
        <h1 class="titreEntite"> Bienvenue Administrateur {{nom}} {{prenom}} </h1>
        

      <h3>
        Ajoutez Modifiez Supprimez des Mairies,tribunaux et Commissariats;
      
      </h3>
        <br>

        <h2 class="titreStatus">Assurez la gestion de l'application</h2>
        <p>
          <b > E-Sebenw </b>
          à Votre Service
        </p>
        <hr size="3">

      </div>
      <!-- <div class="">
        <div class="socials">
          <a (click)="setOpen(true)" title="cliquer ici pour modifier l'entité"><img
              src="../../assets/icon/modifier-le-fichier.png" alt="" srcset=""></a>
          
        </div>
      </div> -->
    </div>
  </div>
  <!-- tableau contenant les personels de l'entite  -->
  <!-- <div class="personnelEntiteVide mx-auto mb-2 pt-1">
    Personnel inexistant
  </div> -->
  <table class="table table-striped text-center mx-auto caption-top">
    <caption class="text-center">Liste de Structures</caption>
    <thead>

      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Longitude</th>
        <th scope="col" class="hideColonne hideColonneOder">Latitude</th>
        <!-- <th scope="col">Contact</th> -->
        <th scope="col" class="hideColonne hideColonneOder">Commune</th>
        <!-- <th scope="col" class="hideColonne">Action</th> -->
        <th scope="col">Plus</th>

      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let s of messetruct">
        <!-- <tr *ngFor="let table of PersonnelEntite | paginate: { itemsPerPage: 8, currentPage: pages}"> -->
        <td> {{s.nom}} </td>
        <td> {{s.longitude}} </td>
        <td class="hideColonne hideColonneOder"> {{s.latitude}} </td>
        <!-- <td> {{table.contact}} </td> -->
        <td class="hideColonne hideColonneOder"> MMMMMMMMMMMM </td>
        <td>
          <ion-icon name="create-outline"  style="height: 20px;width:20px;color: #ACBE11;"
          data-bs-toggle="modal" data-bs-target="#modal-form"
          aria-label="close"
          (click)="OnClick(s.id)"
          ></ion-icon>
          <ion-icon name="trash-outline"  style="height: 20px;width:20px;color: #ACBE11;" (click)="delete()" ></ion-icon>
        </td>
         <!-- <td class="hideColonne"> <span class="voirPlus">voir plus</span> </td> -->
      </tr>

    </tbody>

  </table>

  <div class="position-relative">
    <div class="position-absolute top-0 end-0 mt-4">
      <!-- <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)=" pages = $event"> </pagination-controls> -->
    </div>
  </div>


      <!-- Modal Content -->
      <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card  shadow-soft border-light p-4">
                       
                        <button type="button" class="btn-close" aria-label="Close"  data-dismiss="modal-form"> 
                          <span aria-hidden="true">&times;</span>
    
                        </button>
                       
                        <div class="card-header text-center pb-0">
                            <h2 class="h4">E-civil</h2>
                            <span>Modifier Structure</span>   
                        </div>
                        <div class="card-body">
                            <form (ngSubmit)="edit()"  class="mt-4">
                               <!-- Form -->
                               <div class="form-group">
                                <label for="exampleInputPassword6">Type de Struct</label>
                                <div class="input-group mb-4">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                  </div>
                                  <input class="form-control" [(ngModel)]="nom" [value]="nom" name="nom" id="nom" type="text" >
                              </div>
                            </div>
                            <!-- End of Form -->
                               
                              
                                <div class="form-group">
                                    <!-- Form -->
                                
                              
                                
                                 <!-- Form -->
                                 <div class="form-group">
                                  <label for="exampleInputIcon3">Longitude</label>
                                  <div class="input-group mb-4">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                      </div>
                                      <input class="form-control"  [(ngModel)]="longitude" name="longitude" [value]="longitude" id="longitude" type="text" >
                                  </div>
                              </div>
                              
                              <!-- End of Form -->
                               <!-- Form -->
                               <div class="form-group">
                                <label for="exampleInputIcon3">Latitude</label>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                                    </div>
                                    <input class="form-control"  [(ngModel)]="latitude" name="latitude" [value]="latitude" id="latitude" type="text" >
                                </div>
                            </div>
                            
                            <!-- End of Form -->
                                   
                                </div>
                                <button type="submit" class="btn buttonColor">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- End of Modal Content -->
</ion-content>