<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header> -->

  <!DOCTYPE html>
  <html lang="en">
  <!-- <head>
  
    <meta charset="UTF-8">
    <title>Daily UI | #001 - Sign Up</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head> -->
  <body class="align">
  
    <div class="grid align__item">
  
      <div class="register">
        <div class="row" style="margin: 10px 10px;">

          <div id="card" class="shadow-lg  bg-black rounded" >
            <div class="img-wrapper">
              <img src="../../assets/images/logo.png" alt="" id="svg" class="site__logo" width="80" height="100%">
                  </div>
          </div>
      
        </div>  

        <h5>Inscrivez- vous</h5>
  
        <form action="" method="post" class="form">
  
          <div class="form__field">
            <input type="email" placeholder="info@mailaddress.com">
          </div>
          <div class="form__field">
            <input type="email" placeholder="info@mailaddress.com">
          </div>
          <div class="form__field">
            <input type="email" placeholder="info@mailaddress.com">
          </div>
          <div class="form__field">
            <input type="email" placeholder="info@mailaddress.com">
          </div>
  
          <div class="form__field">
            <input type="password" placeholder="••••••••••••">
          </div>
  
          <div class="form__field">
            <input type="submit" value="Envoyer">
          </div>
          
  
        </form>

        <p>Déja un compte?<a href="#">Connectez-vous</a></p>
  
      </div>
  
    </div>
  
  </body>
  </html>
