<!-- <ion-header>
  <ion-toolbar>
    <ion-title>inscription</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >

  <div class="align">

    <div class="grid align__item">
  
      <div class="register">
        <div class="row" style="margin: 10px 10px;">

          <div id="card" class="shadow-lg  bg-white" >
            <div class="img-wrapper">
              <img src="../../assets/images/logo.jpg" alt="" id="svg" class="site__logo" width="80" height="100%">
                  </div>
          </div>
      
        </div>  

        <h5>Inscrivez- vous</h5>
  
        <form
         class="form">
  
          <div class="form__field">
            <input type="text"   id="inputs" name="nom" placeholder="nom">
          </div>
          <div class="form__field">
            <input type="text"   id="inputs" name="prenom" placeholder="prenom">
          </div>

          <div class="form__field">
            <input type="text"   id="inputs" name="username" placeholder="username">
          </div>
          <div class="form__field">
            <input type="text"  id="inputs" name="email" placeholder="email">
          </div>

          <div class="form__field">
            <input type="text"  id="inputs" name="password" placeholder="*************">
          </div>
          <div class="form__field">
            <input type="text"   id="inputs" name="lieuderesidence"  placeholder="lieu">
          </div>
          <div class="form__field">
            <select  class="form-field" class="select" required>
              <option selected>--Votre genre--</option>
              <option value="1">Masculin</option>
              <option value="2">Feminin</option>
              <!-- <option *ngFor="let entite of Entites" >{{entite.libelleentite}}</option> -->
              
            </select>          </div>
  
          <div class="form__field">
            <input type="submit" value="Envoyer">
          </div>
          
  
        </form>

        <p>Déja un compte?<a routerLink="/connexion">Connectez-vous</a></p>
  
      </div>
  
    </div>
  </div>

  </ion-content>

