<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title style="text-align: center;" class="title mesclass">Republique du Mali <br>
      <span class="mesclass" style="color: #5ba820;">Un peuple</span>-
      <span class="mesclass" style="color: hwb(60 8% 0%);">Un but</span>-
      <span class="mesclass" style="color: #dc0000;">Une foi</span>
     </ion-title>
     
    <!-- <ion-title style="text-align: center;">Structures administratives</ion-title> -->
    <!-- <ion-icon name="notifications" slot="end" style="margin-right: 10px;width: 40px; height: 40px; color: #ffffff;"></ion-icon>
    <ion-icon name="person" ios="ios-person" slot="end" style="margin-right: 10px;width: 40px; height: 40px;color: #ffffff;"></ion-icon>
     -->
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-img src="../../assets/images/logo.jpg" slot="end" style="margin-right: 10px;width: 60px; height: 60px;margin-top: 5px;">
    </ion-img> 
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="row">

    <div id="card" class="shadow-lg p-1 mb-2 bg-white rounded" >
      

      <h1 >Certificat de  <span style="color: #ACBE11;"> Nationnalité</span>  <br>
       
      </h1>
     
    </div>

  </div>

  <div class="container">

    <div class="row" >
                
        <div class="col- col-sm- col-md-6 col-lg-6 col-xl-6" >

            <img src="../../assets/images/tirag.gif"   alt="">

         </div>

             <div class="col- col-sm- col-md-6 col-lg-6 col-xl-6">

          <form (ngSubmit)="add()">
                    
            <div class="input mb-3">
              <label for="inputs" class="form-label">Nom</label>
              <input id="inputs"  name="nom" [(ngModel)]="nom"  placeholder="Votre nom" type="text"  class="form-control" id="inputs" required>
            </div>
            <div class="input mb-3">
              <label for="inputs" class="form-label">Prénom</label>
              <input id="inputs"  name="prenom" [(ngModel)]="prenom"  type="text"  placeholder="Votre prenom" class="form-control" id="inputs" required>
            </div>

            <div class="input mb-3">
              <label for="select" class="form-label">Lieu deResidence</label>
              <p style="text-align: center;"> {{messageerreur}}</p>
              <input id="inputs"  name="lieuderesdience" [(ngModel)]="lieuderesidence" type="text"  placeholder="Votre lieu de naissance" class="form-control" id="inputs" required>

            </div>

            <div class="input mb-3">
              <label for="inputs" class="form-label">Photo de l'acte de Naissance*</label>
              <input type="file" placeholder="Logo.jpg" id="logo" [(ngModel)]="photoacten"  name="photoacten"
              class="form-control"
            (change)="selectFile($event)" accept="image/png, image/jpeg, image/jpg" required />            </div>        
            
            <button [style.backgroundColor]="'#ACBE11'"type="submit" class="btn btn-outline-dark bouton">Envoyer</button>
            <!-- <div class="button">
              <input class="but" type="submit" value="Envoyer">
            </div>  -->

          </form>
             </div>
    </div>
</div>
</ion-content>