
<ion-header>
  <ion-toolbar class="new-background-color">
    <!-- <ion-title>Ajouter une région</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/images/embleme.png" slot="start" style="width: 70px; height: 70px;">
    </ion-img>
    <ion-icon name="notifications" slot="end" style="margin-right: 10px;width: 40px; height: 40px; color: #ffffff;"></ion-icon>
    <ion-icon name="person" ios="ios-person" slot="end" style="margin-right: 10px;width: 40px; height: 40px;color: #ffffff;"></ion-icon>
   

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="row">

    <div id="card" class="shadow-lg p-1 mb-2 bg-white rounded" >
      

      <h1 >Acte de   <span style="color: #ACBE11;"> Décès</span>  <br>
       
      </h1>
     
    </div>

  </div>
  

  <div class="container" id="mere">
    <div class="brand-logo"> <img src="../../assets/images/add.png" alt=""> </div>

    <form  autocomplete="off" >

      <div class="box">
        <div class="activite-details">
          <div class="input-box mb-3">
            <Label for="inputs" >Nom *</Label>
            <input type="text" [(ngModel)]="nom"  id="inputs" name="nom" placeholder="Nom de l'enfant" class="form-control" autocomplete="off"  required>
          </div>

          <div class="input-box mb-3">
            <Label for="inputs"> Prenom *</Label>
            <input type="text" [(ngModel)]="prenom"  id="inputs" name="prenom" placeholder="Nom de l'enfant" class="form-control" autocomplete="off"  required>
          </div>

          <div class="input-box mb-3">
            <Label for="inputs" >Date naissance *</Label>
            <input type="date" [(ngModel)]="daten"  id="inputs" name="daten"  class="form-control" autocomplete="off"  required>
          </div>

          <div class="input-box mb-3">
            <Label for="inputs" >Date de décès *</Label>
            <input type="date" [(ngModel)]="dated"  id="inputs" name="dated" class="form-control" autocomplete="off"  required>
          </div>

          <div class="input-box mb-3">
            <Label for="inputs" >Profession  *</Label>
            <input type="text" [(ngModel)]="profession"  id="inputs" name="profession" placeholder="Profession du défunt" class="form-control" autocomplete="off"  required>
          </div>

          <div class="input-box mb-3">
            <label for="inputs" class="form-label"> Lieu de naissance *</label>
            <input type="text" id="inputs" class="form-control" name="lieudenaissance"  [(ngModel)]="lieudenaissance" placeholder="Lieu"  required>
          </div>

          <div class="input-box mb-3">
            <label for="inputs" class="form-label"> Lieu de décès *</label>
            <input type="date" id="inputs" class="form-control" name="lieudeces"  [(ngModel)]="lieudeces"  required>
          </div>

         

         
          <div class="input-box mb-3">
            <Label for="inputs" >Numéro du Volet de l'hopital *</Label>
            <input type="text" [(ngModel)]="numvolet"  id="inputs" name="numvolet" placeholder="002435634" class="form-control" autocomplete="off"  required>
          </div>

        </div>


      </div>

      <div class="button">
        <input class="but" type="submit" value="Envoyer">
      </div>
    </form>

  </div>

</ion-content>


