<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;" class="title mesclass">Republique du Mali <br>
      <span class="mesclass" style="color: #5ba820;">Un peuple</span>-
      <span class="mesclass" style="color: hwb(60 8% 0%);">Un but</span>-
      <span class="mesclass" style="color: #dc0000;">Une foi</span>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button ion-button navPop>
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-img src="../../assets/images/logo.jpg" slot="end"
      style="margin-right: 10px;width: 60px; height: 60px;margin-top: 5px;">
    </ion-img>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">

    <div id="card2" class="shadow-lg p-1 mb-2 bg-white rounded" >
      

      <h1 >Mes  <span style="color: #ACBE11;"> Declarations</span>  <br>
       
      </h1>
     
    </div>

  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-6">
        <div class="filtre ">
          <select class="form-select form-select-md larger" id="filtre" aria-label=".form-select-sm example"
            (change)="activitesavenir()" [(ngModel)]="textFiltre" name="textFiltre">
            <option>Acte de naissance</option>
            <option>Acte de mariage</option>
          </select>


        </div>

      </div>
      <!-- <div class="col-lg-6 col-12">
      <div class=" justify-content-md-end">
        <button class="btn buttonColor" type="button" routerLink="/dashboard/allactivity/creer-activites" >+ &nbsp; Creer Activité</button>
      </div>
    </div> -->
    </div>





    <div class="row1-container row">


      <div class="col-md-2  box blue" *ngFor="let all of alldem ">
        <h2 routerLink="/dash/strucutures">
          {{textFiltre}}
         
        </h2>
        <p> Pour: {{all.nom}} {{all.prenom}}</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="" class="imgg">
      </div>

    </div>











  </div>


</ion-content>