<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;" class="title mesclass">Republique du Mali <br>
      <span class="mesclass" style="color: #5ba820;">Un peuple</span>-
      <span class="mesclass" style="color: hwb(60 8% 0%);">Un but</span>-
      <span class="mesclass" style="color: #dc0000;">Une foi</span>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
 
    <ion-img src="../../assets/images/logo.jpg" slot="end"
      style="margin-right: 10px;width: 60px; height: 60px;margin-top: 5px;">
    </ion-img>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">

    <div id="card2"  class="shadow-lg p-1 mb-2 bg-white rounded" >
      

      <h1 >Mes  <span style="color: #ACBE11;"> Declarations</span>  <br>
       
      </h1>
     
    </div>

  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-6">
        <div class="filtre ">
          <select class="form-select form-select-md larger" id="filtre" aria-label=".form-select-sm example"
            (change)="alldemm()" [(ngModel)]="textFiltre" name="textFiltre">
            <option>Tout</option>

            <option>Acte de naissance</option>
            <option>Acte de mariage</option>
            <option >  Acte de décès </option>
            <option>Casier judiciaire</option>
            <option>Certificat de residence</option>
            <option>Certificat de Nationnalité</option>

          </select>


        </div>

      </div>
      <!-- <div class="col-lg-6 col-12">
      <div class=" justify-content-md-end">
        <button class="btn buttonColor" type="button" routerLink="/dashboard/allactivity/creer-activites" >+ &nbsp; Creer Activité</button>
      </div>
    </div> -->
    </div>





    <div class="row1-container row">

      <div *ngIf="longueur == 0">
        <p>Aucune Declaration Enregistrée </p>
      </div> 
      <div class="col-md-2  box blue" *ngFor="let all of alldem ">
       
        
        <h2 routerLink="/dash/strucutures">
          {{textFiltre}}
        </h2>
        <p *ngIf="!shownonh" > Pour: {{all.nom}} {{all.prenom}}</p>
        <p *ngIf="shownonh"> Pour: MR {{all.nomh}} et Mlle {{all.nomf}}</p>

        <p></p>
           
    <!-- Button Modal -->
<button type="button" class="btn btn-block btn-primary mb-4" data-bs-toggle="modal"     
           (click)="OnClick(all.id)"
 
 data-bs-target="#modal-default">voir +</button>

        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="" class="imgg">
      </div>

    </div>
 <!-- Modal Content -->
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title mb-0" id="modal-title-default">Details de la demande</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{newdet}}</p>
                <div >
                  <div  >
                    <img src="{{photo}}" alt="">
                  </div>
                </div>

                 </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-sm btn-primary">I Got It</button> -->
                <button type="button" class="btn  ml-auto" data-dismiss="modal"
                style="color:#ACBE11; background-color: azure;"
                >Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->











  </div>


</ion-content>