
ion-content{

  --ion-background-color:#FFFFFF;
}




@media (max-width: 400px) {
  h1 {
      font-size: 1.5rem;
  }
  ion-title{
    font-size: 20px;
  }
}


@media (max-width: 473px) {
  .mesclass{
    font-size: .8em;
    
  }
}
@media (max-width: 185px) {
  .mesclass{
    font-size: .6em;
    
  }
}
.cloche{
  margin-right: 10px;width: 40px; height: 40px;margin-top: 5px;
}
@media (max-width: 358px) {
  .mesclass{
    font-size: .7em;
    
  }
}
@media (max-width: 308px) {
  .mesclass{
    font-size: .7em;
    
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 10px;
  margin-top: 30px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color:#dc0000
}


.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px #000000;
  padding: 30px;
  margin: 20px;  
}
.box:hover{
  box-shadow: 0px 30px 40px -20px #57a02f;
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
      height: 220px;
  }
}
@media (max-width: 550px) {
  .box {
      height: 230px;
  }
}

@media (max-width: 250px) {
  .box {
      height: 300px;
      
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 200px;
  }
}

.cyan {
  border-top: 3px solid #5ba820;
}
.red {
  border-top: 3px solid #ffff14;
}
.blue {
  border-top: 3px solid #dc0000;
}
.orange {
  border-top: 3px solid #ACBE11;
}

h2 {
  color: #000000;
  font-weight: var(--weight3);
}
.row1-container {
  b: 20px;
}

@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
   
  }
  .header p {
      width: 30%;
  }
  
}