<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-title style="text-align: center;">Republique du Mali <br>
      <span style="color: #5ba820;">Un peuple</span>-
      <span style="color: #ffff14;">Un but</span>-
      <span style="color: #dc0000;">Une foi</span>

     </ion-title>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/images/embleme.png" slot="start" style="width: 80px; height: 80px;">
    </ion-img>
    <ion-icon name="notifications" slot="end" style="margin-right: 10px;width: 40px; height: 40px; color: #ffffff;"></ion-icon>
    <ion-icon name="person" ios="ios-person" slot="end" style="margin-right: 10px;width: 40px; height: 40px;color: #ffffff;"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content >
<div class="container">
  
  <div class="row">

    <div id="card" class="shadow-lg p-1 mb-2 bg-white rounded" >
      <!-- <div class="img-wrapper">
        <img src="../../assets/images/add.png" alt="" id="img1"> 
      </div> -->

      <h1 style="font-size:xx-large;">Bienvenue sur E- <span style="color: #ACBE11;"> Civil</span>  <br>
       
      </h1>
      <p>        Tout Vos documents administratif en un clic!!!
      </p>
    </div>

  </div>

  <div class="container" id="cont2" style="margin: 10px 10px;">
    <div class="row">
      
            <div class="col-6 col-md-3" >

              <div class="card shadow-soft border-light"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a routerLink="/dash/structurebytype">Ajouter +</a>
                </div>
             </div>
            </div>
            <div class="col-6 col-md-3" >

              <div class="card"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a routerLink="/dash/actem">Ajouter +</a>
                </div>
             </div>

              
            </div>

            <div class="col-6 col-md-3" >

              <div class="card"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a routerLink="/dash/acted">Ajouter +</a>
                </div>
             </div>

              
            </div>
            <div class="col-6 col-md-3" >

              <div class="card"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a  routerLink="/dash/residence">Ajouter +</a>
                </div>
             </div>

              
            </div>
            <div class="col-6 col-md-3" >

              <div class="card"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a  routerLink="/dash/nationnalite">Ajouter +</a>
                </div>
             </div>

              
            </div>
            <div class="col-6 col-md-3" >

              <div class="card"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a href="#!">Ajouter +</a>
                </div>
             </div>

              
            </div>
            <div class="col-6 col-md-3" >

              <div class="card"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a href="#!">Ajouter +</a>
                </div>
             </div>

              
            </div>
            <div class="col-6 col-md-3" >

              <div class="card"> <!-- Here I create a New Div with class name card -->
                <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                    <img src="../../assets/images/embleme.png" alt="user-image">
                </div>
                <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                    <h5>Acte de Naissance</h5>
                    <a href="#!">Ajouter +</a>
                </div>
             </div>

              
            </div>
            
           
   </div>
 

    
  </div>
</div>






</ion-content>
