<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-title style="text-align: center;" class="title mesclass">Republique du Mali <br>
      <span class="mesclass" style="color: #5ba820;">Un peuple</span>-
      <span class="mesclass" style="color: hwb(60 8% 0%);">Un but</span>-
      <span class="mesclass" style="color: #dc0000;">Une foi</span>
     </ion-title>
    
     <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button ion-button navPop>
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-img src="../../assets/images/logo.jpg" slot="end" style="margin-right: 10px;width: 60px; height: 60px;margin-top: 5px;">
    </ion-img> 
    <!-- <ion-icon name="notifications" slot="end" style="margin-right: 10px;width: 40px; height: 40px; color: #1d1c1c;"></ion-icon> -->
    <!-- <ion-icon name="person" ios="ios-person" slot="end" style="margin-right: 10px;width: 40px; height: 40px;color: #131212;"></ion-icon> -->

  </ion-toolbar>
</ion-header>

<ion-content >


  
 
    <div class="header">
      <h1>Bienvenue {{prenom}} {{nom}}</h1>
      <h1>Vos Papiers Civil en un clic</h1>
<!--   
      <p>Vous pouvez desormais faire vos demandes de Déclarations
        dans les Mairies,les commissariats et tribunaux <br>
        Tels que:
      </p> -->
    </div>
    <div class="row1-container" >
      <div class="box box-down cyan">
        <h2 routerLink="/dash/strucutures" > Acte de naissance</h2>
        <p>Déclaration officielle pour un nouveau né.</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
  
      <div class="box red">
        <h2 routerLink="/dash/strucutures">Acte de de Mariage  </h2>
        <p>Déclaration officielle pour un mariage.</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
  
      <div class="box box-down blue">
        <h2 routerLink="/dash/strucutures" > Acte de décès </h2>
        <p>Déclaration officielle pour une personne décedée</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
      
    </div>
    <div class="row1-container" >
      <div class="box box-down cyan">
        <h2 routerLink="/dash/strucutures" >Casier Judiciaire</h2>
        <p>Déclaration officielle le relevé des décisions judiciaires et administratives qui concernent une personne</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
  
      <div class="box red">
        <h2 routerLink="/dash/strucutures">Certificat de résidence</h2>
        <p>Déclaration officielle pour renseigner sur la domiciliation de l'intéressé</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
  
      <div class="box box-down blue">
        <h2 routerLink="/dash/strucutures" >Certificat de Nationnalité</h2>
        <p>Déclaration officielle pour determiner la nationnalité d'une personne</p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>
      
    </div>
   
   
   
  





</ion-content>