<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-title style="text-align: center;">Republique du Mali <br>
      <span style="color: #5ba820;">Un peuple</span>-
      <span style="color: #ffff14;">Un but</span>-
      <span style="color: #dc0000;">Une foi</span>

     </ion-title>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/images/embleme.png" slot="start" style="width: 80px; height: 80px;">
    </ion-img>
    <ion-icon name="notifications" slot="end" style="margin-right: 10px;width: 40px; height: 40px; color: #ffffff;"></ion-icon>
    <ion-icon name="person" ios="ios-person" slot="end" style="margin-right: 10px;width: 40px; height: 40px;color: #ffffff;"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="content">
    
    <!-- <div class="container">
      <h2 class="my-5 text-center text-white">Carousel #10</h2>
    </div> -->

    <div class="site-blocks-cover">
      
      <div class="img-wrap">
        <div class="owl-carousel slide-one-item hero-slider">
          <div class="slide">
            <img src="../../assets/images/file1.jpg" alt="Free Website Template by Free-Template.co">  
          </div>
         
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto align-self-center">
            <div class="intro">
              <div class="heading">
                <h1 class="text-black font-weight-bold">&nbsp;&nbsp;&nbsp; Bienvenue </h1>
              </div>
              <div class="text sub-text">
                <p>Nous vous offrons la possibilité de faire des demandes de Déclarations </p>
        
               

                <div class="container" id="cont2">

                  <div class="row">
                    <div class="col-4 col-md-4" >
  
                      <div class="card shadow-soft border-black"> <!-- Here I create a New Div with class name card -->
                        <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                            <img src="../../assets/images/addfile.png" alt="user-image">
                        </div>
                        <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                            <h4>Acte de Naissance</h4>
                        </div>
                     </div>
                    </div>
                    <div class="col-4 col-md-4" >
  
                      <div class="card shadow-soft border-black"> <!-- Here I create a New Div with class name card -->
                        <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                            <img src="../../assets/images/addfile.png" alt="user-image">
                        </div>
                        <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                            <h4>Acte de Naissance</h4>
                        </div>
                     </div>
                    </div> <div class="col-4 col-md-4" >
  
                      <div class="card shadow-soft border-black"> <!-- Here I create a New Div with class name card -->
                        <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                            <img src="../../assets/images/addfile.png" alt="user-image">
                        </div>
                        <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                            <h4>Acte de Naissance</h4>
                        </div>
                     </div>
                    </div> <div class="col-4 col-md-4" >
  
                      <div class="card shadow-soft border-black"> <!-- Here I create a New Div with class name card -->
                        <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                            <img src="../../assets/images/addfile.png" alt="user-image">
                        </div>
                        <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                            <h4>Acte de Naissance</h4>
                        </div>
                     </div>
                    </div> <div class="col-4 col-md-4" >
  
                      <div class="card shadow-soft border-black"> <!-- Here I create a New Div with class name card -->
                        <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                            <img src="../../assets/images/addfile.png" alt="user-image">
                        </div>
                        <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                            <h4>Acte de Naissance</h4>
                        </div>
                     </div>
                    </div> <div class="col-4 col-md-4" >
  
                      <div class="card shadow-soft border-black"> <!-- Here I create a New Div with class name card -->
                        <div class="card_img"> <!-- Here I create a New Div for image with class name card_img -->
                            <img src="../../assets/images/addfile.png" alt="user-image">
                        </div>
                        <div class="card_info"> <!-- Here I create a New Div for user info with class name card_info -->
                            <h4>Acte de Naissance</h4>
                        </div>
                     </div>
                    </div> 
                   
                  </div>
                </div>
               <div class="row">
                <p>
                  <button href="https://free-template.co/" target="_blank" class="btn btn-outline-primary  btn-pill" routerLink="/dash/Strucuture">Faire une Demande</button>
                </p>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div> <!-- END .site-blocks-cover -->
  </div>






</ion-content>